* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccc;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

main li {
  margin: 10px 0;
  list-style: none;
}

main li h3 {
  text-decoration: underline;
}

main li p {
  margin-left: 20px;
}

